body {
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.link-black {
  text-decoration: none;
  color: black;
}

.login-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}

.login-form {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 400px;
  padding: 10px 20px;
}

.inputs {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}

.input {
  padding: 10px 10px;
  margin: 10px 0;
  width: 300px;
}

.login-button {
  min-height: calc(8px *6.5);
  outline: none;
  color: aliceblue;
  background-color: #10a37f;
  border: 0;
  font-weight: 400;
  font-size: 16px;
  border-radius: 3px;
  margin: 20px 0;
  cursor: pointer;
}

.error_holder {
  /* display: flex; */
  align-items: center;
  justify-content: center;
}

.error_box {
  background-color: #10a37f;
  border-radius: 3px;
  width: 300px;
}

.main-loading {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

/* loading  */
.lds-dual-ring {
  display: inline-block;
  width: 30px;
  height: 30px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 30px;
  height: 30px;
  margin: 8px;
  border-radius: 50%;
  border: 4px solid #10a37f;
  border-color: #10a37f transparent #10a37f transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

.map {
  position: relative;
  z-index: 0;
}

/* vnavigation */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  padding: 0 10px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  height: 60px;
  z-index: 3;
  width: calc(100% - 20px);
}

.text {
  font-size: 500;
}

#taggle p {
  content: "";
  width: 30px;
  height: 2px;
  background-color: #10a37f;

  position: relative;
}

#taggle p::before {
  content: "";
  width: 30px;
  height: 2px;
  background-color: #10a37f;

  bottom: 10px;
  position: absolute;
}

#taggle p::after {
  content: "";
  width: 30px;
  height: 2px;
  background-color: #10a37f;
  top: 10px;
  position: absolute;
}

.nav-content {
  z-index: 1;
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  top: 60px;
  width: 100%;
  right: 0;
}

.nav-content .use-info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px 0;
}

.nav-content .use-info img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.nav-content .use-info .names {
  display: flex;
  align-items: center;
  gap: 9px;
}

.nav-content ul {
  list-style: none;
  padding: 0;
}

.nav-content ul li {
  margin: 10px 0;
}

.list-black {
  text-decoration: none;
  color: black;
}

.nav-content ul li a {
  text-decoration: none;
  color: black;
}

.main-product-holder {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: 60px;
}

.product-holder {
  padding: 15px 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  box-shadow: 0px 1px 7px rgba(0, 0, 0, .3);
  flex-basis: calc((100% / 3) - 10px);
}

.product-holder img {
  width: 40px;
  /* position: relative; */
  /* right: -70%; */
}

.drivers-list-holde {
  position: relative;
  top: 60px;
}

.driver-holder {
  box-shadow: 0px 1px 7px rgba(0, 0, 0, .3);
  margin: 10px 5px;
  padding: 5px 10px;
}

.driver-profile {
  display: flex;
  align-items: end;
}

.driver-info {
  display: flex;
  gap: 20px;
}

.driver-info p {
  background-color: aliceblue;
  border-radius: 10px;
  padding: 2px 5px;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}