body {
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --white-bg: #FFFFFF;
  --login-bg: #ADADAD;
  --box-bg: #E6E6E6;
}

h1 {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.link-black {
  text-decoration: none;
  background-color: var(--box-bg);
  color: black;
}

/* login  */
.login-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--login-bg);
  height: 100vh;
}

.login-form {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 85%;
  padding: 10px 20px;
  background: #E6E6E6;
  /* margin: 0 30px; */
  border-radius: 10px;
}

.inputs {
  /* width: 100%; */
  width: 340px;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  align-items: center;
}

.input {
  padding: 13px 15px;
  margin: 10px 0;
  width: fit-content;
  width: 90%;
  border-radius: 10px;
  border: 0;
  outline: none;
}

.login-button {
  min-height: calc(8px *6.5);
  outline: none;
  color: aliceblue;
  background-color: black;
  border: 0;
  font-weight: 400;
  font-size: 16px;
  border-radius: 3px;
  margin: 20px 0;
  cursor: pointer;
  width: 191px;
  border-radius: 10px;
}

.signup {
  text-decoration: none;
  color: black;
}

/* end login */
.log-out {
  position: absolute;
  bottom: calc(8px *6.5);
}

.error_holder {
  /* display: flex; */
  align-items: center;
  justify-content: center;
}

.error_box {
  background-color: #10a37f;
  border-radius: 3px;
  width: 300px;
}

.main-loading {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

/* loading  */
.lds-dual-ring {
  display: inline-block;
  width: 30px;
  height: 30px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 30px;
  height: 30px;
  margin: 8px;
  border-radius: 50%;
  border: 4px solid #10a37f;
  border-color: #10a37f transparent #10a37f transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

.map {
  position: relative;
  z-index: 0;
}

/* vnavigation */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  padding: 0 10px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  height: 60px;
  z-index: 3;
  width: calc(100% - 20px);
}

.text {
  font-size: 500;
}

#taggle p {
  content: "";
  width: 30px;
  height: 2px;
  background-color: #10a37f;

  position: relative;
}

#taggle p::before {
  content: "";
  width: 30px;
  height: 2px;
  background-color: #10a37f;

  bottom: 10px;
  position: absolute;
}

#taggle p::after {
  content: "";
  width: 30px;
  height: 2px;
  background-color: #10a37f;
  top: 10px;
  position: absolute;
}

.nav-content {
  z-index: 1;
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  top: 60px;
  width: 100%;
  height: 100vh;
  right: 0;
}

.nav-content .use-info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px 0;
}

.nav-content .use-info img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.nav-content .use-info .names {
  display: flex;
  align-items: center;
  gap: 9px;
}

.nav-content ul {
  list-style: none;
  padding: 0;
}

.nav-content ul li {
  margin: 10px 0;
}

.list-black {
  text-decoration: none;
  color: black;
}

.nav-content ul li a {
  text-decoration: none;
  color: black;
}

/* services list */
.service-lists {
  margin: 0 5px;
}

.main-product-holder {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: 60px;
}

.product-holder {
  padding: 15px 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  margin: 10px 10px;
  box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
  flex-basis: calc((100% / 2) - 30px);
}

.product-holder img {
  width: 40px;
}

.drivers-list-holde {
  position: relative;
  top: 60px;
}

.driver-holder {
  box-shadow: 0px 1px 7px rgba(0, 0, 0, .3);
  margin: 10px 5px;
  padding: 5px 10px;
  background-color: var(--box-bg);
}

/* .driver-profile {
  display: flex;
  align-items: end;
} */

.driver-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 10px;
}

.link-flex {
  display: flex;
  align-items: center;
}

.title {
  margin: 0;
}

.driver-info span {
  /* background-color: aliceblue; */
  border-radius: 10px;
  padding: 2px 5px;
}

.bottom {
  display: flex;
  gap: 10px;
}

.form-holder {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table {
  margin: 10px 0;
}

.table table {
  width: 100%;
}

.table table tr {
  margin: 5px 0;
  text-align: left;
}

.table table tr td {
  padding: 5px;
  text-align: center;
}

.icon {
  width: 20px;
}

/* box css */
.card {
  margin: 20px 5px;
  width: 93%;
  /* padding: 5px 10px; */
  /* height: 254px; */
  background: #E6E6E6;
  border-radius: 10px;
  box-shadow: 0px 1px 7px rgba(0, 0, 0, .3);
  /* position: relative;
  right: 60px; */
  /* transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275); */
}

.driver-infos{
  display: flex;
  gap: 20px;
  margin: 0 10px;
  align-items: center;
  
}
.status{
  display: flex;
  padding: 10px 5px;
  justify-content: space-between;
  align-items: center;
}
.status p{
  background-color: green;
  border-radius: 30px;
  padding: 2px 5px;
  color: #E6E6E6;
}
/* =============drivercomponent css =========== */
.main-drivers{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px 0;
}
/* ==========card css========== */
.main-cards{
  width: 100%;
  height: calc(100vh - 60px);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
}
.cards {
  width: 300px;
  height: 350px;
  background: #3405a3;
  border-radius: 15px;
  box-shadow: 1px 5px 60px 0px #100a886b;
 }
 
 .cards .card-border-top {
  width: 60%;
  height: 3%;
  background: #6b64f3;
  margin: auto;
  border-radius: 0px 0px 15px 15px;
 }
 
 .cards span {
  font-weight: 600;
  color: white;
  text-align: center;
  display: block;
  padding-top: 10px;
  font-size: 16px;
 }
 
 .cards .job {
  font-weight: 400;
  color: white;
  display: block;
  text-align: center;
  padding-top: 3px;
  font-size: 12px;
 }
 
 .cards .img {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #6b64f3;
  border-radius: 15px;
  margin: auto;
  margin-top: 25px;
 }
 
 .cards button {
  padding: 8px 25px;
  display: block;
  margin: auto;
  border-radius: 8px;
  border: none;
  margin-top: 30px;
  background: #6b64f3;
  color: white;
  font-weight: 600;
 }
 
 .cards button:hover {
  background: #534bf3;
 }
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}